.panel__header {}
.panel__viewport {}
.panel__content {}
.panel__section {
	border-top: 1px solid #000;
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
	padding-top: 10px;
}
.panel__section-left,
.panel__section-right {
	flex-basis: 50%;
	min-width: 200px;
}
.panel__section-right select {
	border: 1px solid #000;
	border-radius: 0;
	background-color: transparent;
	font-size: 16px;
	-moz-appearance: none;
	padding: 5px 10px;
}
.panel__section-right span {
	display: block;
	padding: 10px 0 0 0;
}
.panel__content button {
	border: 1px solid #000;
	border-radius: 0;
	background-color: transparent;
	font-size: 16px;
	padding: 5px 10px;
}

.settings {
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
.settings.settings--show {
	display: block;
}
.settings[data-show='true'] {
	display: block;
}
.settings__layer {
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.settings__window {
	background-color: #fff;
	left: 50%;
	max-width: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}
.settings__window.panel {
	display: block;
	padding: 20px;
}
.settings__header,
.settings__header + p {
	margin-bottom: 10px;
}
.settings__body {
	display: block;
	padding: 10px 20px;
}
.settings__controls {
	padding: 10px 20px 20px 20px;
}
.settings__reject {}
.settings__agree {}
.settings__section-header {
	margin: 10px 0;
}
.settings__status {
	color: #999;
	margin-bottom: 10px;
	margin-top: 10px;
}
/* .settings__controls .btn {
	background-color: #ddd;
	border: none;
	color: #333;
	font-size: 14px;
	padding: 8px 16px;
	width: auto;
} */
/* .settings__controls .btn:hover {
	background-color: #ccc;
	color: #000;
} */

@media only screen and (min-width: 600px) {
	.settings__window {
		max-width: 500px;
	}
} 
